# Pandas Practice
Author: JAAR

Date: 07/22/2025

In [1]:
# imports
import pandas as pd

In [ ]:
# Load the fast food data
df=pd.read_csv('data\\US_top_50_fast_foods.csv')

Get the shape and basic information for the dataset

In [12]:
df.shape

(50, 7)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Fast-Food Chains                                  50 non-null     object
 1   U.S. Systemwide Sales (Millions - U.S Dollars)    50 non-null     int64
 2   Average Sales per Unit (Thousands - U.S Dollars)  50 non-null     int64
 3   Franchised Stores                                 50 non-null     int64
 4   Company Stores                                    50 non-null     int64
 5   2021 Total Units                                  50 non-null     int64
 6   Total Change in Units from 2020                   50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

What are the data types?

In [14]:
df.dtypes

Fast-Food Chains                                    object
U.S. Systemwide Sales (Millions - U.S Dollars)       int64
Average Sales per Unit (Thousands - U.S Dollars)     int64
Franchised Stores                                    int64
Company Stores                                       int64
2021 Total Units                                     int64
Total Change in Units from 2020                      int64
dtype: object

For the series containing the fast food chains, change it to just chains

In [39]:
df.rename(columns={'Fast-Food Chains':'chains'}, inplace=True)

Get a sample of five entries

In [37]:
df.sample(5)

,Fast-Food Chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars),Franchised Stores,Company Stores,2021 Total Units,Total Change in Units from 2020
33,Papa Murphy’s,809,643,1213,27,1240,-53
23,KFC,5100,1408,3906,47,3953,10
45,Wendy's,11111,1895,5535,403,5938,57
34,Pizza Hut,5500,1022,6526,22,6548,-13
19,In-N-Out Burger,1175,3200,0,370,370,5

Order the companies by number of franchises

In [42]:
df.rename(columns={'Franchised Stores':'stores_franchised', 'Company Stores':'company_stores'}, inplace=True)

In [43]:
df.columns

Index(['chains', 'U.S. Systemwide Sales (Millions - U.S Dollars)',
       'Average Sales per Unit (Thousands - U.S Dollars)', 'stores_franchised',
       'company_stores', '2021 Total Units',
       'Total Change in Units from 2020'],
      dtype='object')

Retrieve the first three columns

In [35]:
df.iloc[:,0:3].head() # easier since the names for the columns are complicated as fuq

,Fast-Food Chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars)
0,Arby’s,4462,1309
1,Baskin-Robbins,686,296
2,Bojangles,1485,1924
3,Burger King,10033,1470
4,Carl’s Jr.,1560,1400

Get every other row

In [46]:
df.iloc[::2].head()

,chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars),stores_franchised,company_stores,2021 Total Units,Total Change in Units from 2020
0,Arby’s,4462,1309,2293,1116,3409,40
2,Bojangles,1485,1924,496,277,773,15
4,Carl’s Jr.,1560,1400,1011,47,1058,-21
6,Chick-fil-A,16700,6100,2650,82,2732,155
8,Church’s Chicken,776,870,731,161,892,-13

What companies have 2616, 831, and 2293 stores franchised?

In [51]:
df.loc[df.stores_franchised.isin([2616, 831, 2293])]

,chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars),stores_franchised,company_stores,2021 Total Units,Total Change in Units from 2020
0,Arby’s,4462,1309,2293,1116,3409,40
9,Culver’s,2489,3099,831,6,837,55
22,Jimmy John’s,2301,866,2616,41,2657,48

Which company has the most franchised stores?

Which company has the highest percentage of franchised stores?

Create a column that has bool that reflects positive changes in store counts as True and negative as False

In [ ]:
# df['column']= (df.Column > 0)

In [ ]:
# df.dropna().drop([...]).rename([...]).sort_values().head() CHAINING EXAMPLE
# df.drop(df.loc[df["Revenue"] < 80_000].index).sort_values(by='Revenue')
# df.drop(df.loc[df.Revenue < df.Revenue.mean()].index)
# df_usa_only = df.drop(df.loc[(~df['Is American?'])].index) is the same as df.loc[df['Is America']]
# removing columns by dropping them and then also renaming columns are things worth looking into

## Questions created by ChatGPT from easy to difficult
Following is a list of 30 questions produced by ChatGPT to practice my understanding of Pandas

In [ ]:
1.	Get the Series of fast-food chain names.

2.	Count the number of null values in each column.

3.	Get the Series of total U.S. sales.

4.	Find the maximum sales value.

In [ ]:
5.	Find the chain with the minimum number of units.
6.	Get a Series showing whether each chain is American.
7.	Count how many are American.
8.	Count how many are not American.
9.	Get a boolean Series: Is sales > 5000 million?
10.	Find the average number of total units.
11.	Get all chain names with sales over $5B (as Series).
12.	Sort the Series of total units in descending order.
13.	Create a Series of lowercase chain names.
14.	Get chains that are not American.
15.	Create a Series showing sales per unit.
16.	Check which chains have "Pizza" in their name.
17.	Get the 5 smallest chains by unit count.
18.	Rename the column "U.S. Systemwide Sales (Millions)" to lowercase using .rename().
19.	Find the chain with the second highest sales.
20.	Create a Series: is chain name longer than 10 characters?
21.	Create a Series showing sales rank (1 = highest).
22.	Get the average sales for non-American chains.
23.	Create a Series of chain names sorted by sales per unit.
24.	Count how many chains contain "Burger" or "Chicken" in the name.
25.	Normalize the sales column (0–1 range).
26.	Create a Series flagging "Global Giants" (sales > 5000 & total units > 10000).
27.	Create a Series of first letters of chain names.
28.	Replace all spaces in chain names with underscores.
29.	Bucket sales into categories: Low (<1000), Medium (1000–5000), High (>5000)
30.	Get a Series of boolean values: does chain name start with "M"?