# Pandas py practice
Author: Joe Acosta
Date: 07/17/2025

Day 1: Creating yaml file to automatically create Conda env, learn how to use Conda and how to download MiniConda

Day 2: Start Course and Practice Recreating Conda env

Day 3: Reviewed Pandas info -> Pandas is built on NumPy and uses MatPlotLib to visualize the data

In [81]:
# Imports

In [82]:
# Gets the titanic dataset from the sns dataset

In [83]:
# Gets the data type of the titanic dataset to verify if it's pandas dfS

Get the DataFrame information

How many people were on the titanic?

What are the different columns?

Get the Top 10 and Bottom 5

Get 5 random passangers

Get Single Passenger

Get the passenger # 342's information

Was Passenger #121 an adult male?

In [85]:
# first checked the columns

What was the oldest passengers age?

Get all statistics for the passenger ages

What are the ages and sex of passengers 123, 153, and 232

Order the passengers descending by age and print the results

Which passenger had an age of 14.5

What were all the unique ages of the passengers

How many different classes did the Titanic have?

How many Passengers were in each class?

What are the top 5 ages?

What percent of the passengers are represented by the top 5 ages?

Who was the youngest first class passenger

What was the average ticket price, the max ticket price, and the min ticket price

How many passengers didn't pay for a ticket?

The oldest passenger was 80, what class did they belong to

How Many people in each class survived and what percentages in each class survived?