# Pandas py practice
Author: Joe Acosta
Date: 07/17/2025

Day 1: Creating yaml file to automatically create Conda env, learn how to use Conda and how to download MiniConda

Day 2: Start Course and Practice Recreating Conda env

In [25]:
# Imports

In [27]:
# Gets the titanic dataset from the sns dataset

In [26]:
# Gets the data type of the iris dataset to verify if it's pandas dfS

Get the DataFrame information

How many elements does this dataframe have?

What are the different columns?

Get the Top 10 and Bottom 5

Get 5 random passangers

Get Single Passenger

Get the passenger # 342's information

Was Passenger #121 an adult male?

What was the oldest passengers age?

Get all statistics for the passenger ages

What are the ages and sex of passengers 123, 153, and 232

Order the passengers descending by age and print the results

Which passenger had an age of 14.5

What were all the unique ages of the passengers

How many different classes did the Titanic have?

What were the different classes