# Panda Series Intro
Author: Joe Acosta
Date: 07/19/2025

Covers the basic info I've learned about series and offers a few questions and answers

In [4]:
import pandas as pd

In [5]:
revenue = [
    274515, 200734, 182527, 181945,
    143015, 129184, 92224, 85965, 84893,
    82345, 77867, 73620, 69864, 63191
]

companies = [
    'Apple', 'Samsung', 'Alphabet', 'Foxconn',
    'Microsoft', 'Huawei', 'Dell Technologies',
    'Meta', 'Sony', 'Hitachi', 'Intel',
    'IBM', 'Tencent', 'Panasonic'
]

Create a series without assigned Index

In [9]:
pd.Series(revenue)

0     274515
1     200734
2     182527
3     181945
4     143015
5     129184
6      92224
7      85965
8      84893
9      82345
10     77867
11     73620
12     69864
13     63191
dtype: int64

Create a series with an index and a title. Store it and print it

In [15]:
# Data: the most important component in the series
# index: the labels given to each index in the series
# name: a title that's given to the series

# SERIES ARE STRONGLY TYPED >> ALL ELEMENTS MUST CONFORM TO A DTYPE
s = pd.Series(data=revenue, index=companies, name="Top Technology Companies by Revenue")
s

Apple                274515
Samsung              200734
Alphabet             182527
Foxconn              181945
Microsoft            143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                   73620
Tencent               69864
Panasonic             63191
Name: Top Technology Companies by Revenue, dtype: int64

Check the series elements datatype

In [17]:
type(s)

pandas.core.series.Series

In [18]:
s.dtype

dtype('int64')

In [19]:
# Data can be retrieved by index or by position.

Get the data for Apple

In [20]:
# Get Data by index example
s['Apple']

np.int64(274515)

In [ ]:
# Preferred way though both work
s.loc['Apple']

np.int64(274515)

Get the data for Apple and IBM

In [24]:
s.loc[['Apple', 'IBM']]

Apple    274515
IBM       73620
Name: Top Technology Companies by Revenue, dtype: int64

Get the data stored at position 3

In [ ]:
s.iloc[3] # or s[3]

np.int64(181945)

Get the Data for multiple positions >> 1 to 5

In [31]:
s.iloc[1:5]

Samsung      200734
Alphabet     182527
Foxconn      181945
Microsoft    143015
Name: Top Technology Companies by Revenue, dtype: int64

Get the data for the positions 1, 4, -3

In [35]:
s.iloc[[1, 4, -3]]

Samsung      200734
Microsoft    143015
IBM           73620
Name: Top Technology Companies by Revenue, dtype: int64

Get the last element in the Series

In [32]:
s.iloc[-1]

np.int64(63191)

Is Snapchat in the list of companies?

In [34]:
'Snapchat' in s

False

Get the name of the series

In [36]:
s.name

'Top Technology Companies by Revenue'

Get the index of the seres

In [37]:
s.index

Index(['Apple', 'Samsung', 'Alphabet', 'Foxconn', 'Microsoft', 'Huawei',
       'Dell Technologies', 'Meta', 'Sony', 'Hitachi', 'Intel', 'IBM',
       'Tencent', 'Panasonic'],
      dtype='object')

Get the values in the series

In [38]:
s.values

array([274515, 200734, 182527, 181945, 143015, 129184,  92224,  85965,
        84893,  82345,  77867,  73620,  69864,  63191])

Get all the basic quantitative information for the series

In [39]:
s.describe()

count        14.000000
mean     124420.642857
std       63686.481231
min       63191.000000
25%       78986.500000
50%       89094.500000
75%      172212.500000
max      274515.000000
Name: Top Technology Companies by Revenue, dtype: float64

Get the maximum, minimum, and mean for the data

In [42]:
print(s.max())
print(s.min())
print(s.mean())

274515
63191
124420.64285714286

What is the 95% percentile for revenue of these companies

In [43]:
s.quantile(.95)

np.float64(226557.34999999998)

What is the lowest ten percent for revenue of these companies

In [44]:
s.quantile(.10)

np.float64(70990.8)

How many companies are recorded in the series?

In [47]:
s.size # Alternatively

14

Create a sub-series for the american companies:
    'Meta', 'IBM', 'Microsoft',
    'Dell Technologies', 'Apple', 'Intel', 'Alphabet'

In [57]:
international_companies= [
    "Sony", "Tencent", "Panasonic",
    "Samsung", "Hitachi", "Foxconn", "Huawei"
]

domestic_companies= ['Meta', 'IBM', 'Microsoft',
    'Dell Technologies', 'Apple', 'Intel', 'Alphabet'
]

In [58]:
american_companies = s.loc[domestic_companies]
american_companies

Meta                  85965
IBM                   73620
Microsoft            143015
Dell Technologies     92224
Apple                274515
Intel                 77867
Alphabet             182527
Name: Top Technology Companies by Revenue, dtype: int64

Is Samsung an american company?

In [51]:
'Samsung' in american_companies

False

Sort the american companies by reverse alphabetically

In [54]:
american_companies.sort_index(ascending=False)

Microsoft            143015
Meta                  85965
Intel                 77867
IBM                   73620
Dell Technologies     92224
Apple                274515
Alphabet             182527
Name: Top Technology Companies by Revenue, dtype: int64

Sort the american companies by highest revenue

In [56]:
# since series are a 1d ordered sequence, don't need the by attribute like when sort_values() is used on a dataframe
american_companies.sort_values()

IBM                   73620
Intel                 77867
Meta                  85965
Dell Technologies     92224
Microsoft            143015
Alphabet             182527
Apple                274515
Name: Top Technology Companies by Revenue, dtype: int64

NOTE THAT SERIES ARE IMMUTABLE

This is why the sort functions don't affect the original series

Add Tesla to the Series

In [59]:
Tesla = 21450

In [60]:
s['Tesla'] = Tesla

In [62]:
s.loc['Tesla']

np.int64(21450)

Set Tesla Revenue to zero

In [64]:
s['Tesla'] = 0

Remove Tesla from the series and check that it was removed

In [66]:
del s['Tesla']

In [67]:
'Tesla' in s

False

Create a new series with Tesla and Snapchat

In [69]:
ts_revenue=[21_450, 4_120]
ts_names=['Tesla', 'Snapchat']

In [ ]:
ts_revenue=[21_450, 4_120]
ts_names=['Tesla', 'Snapchat']

ts=pd.Series(data=ts_revenue, index=ts_names, name='Another Series')
ts

Tesla       21450
Snapchat     4120
Name: Another Series, dtype: int64

Add the TS series to the original series

In [70]:
s_new=pd.concat([s,ts])
s_new

Apple                274515
Samsung              200734
Alphabet             182527
Foxconn              181945
Microsoft            143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                   73620
Tencent               69864
Panasonic             63191
Tesla                 21450
Snapchat               4120
dtype: int64