# Panda Series Intro
Author: Joe Acosta
Date: 07/19/2025

Covers the basic info I've learned about series and offers a few questions and answers

In [ ]:
#Imports

In [ ]:
revenue = [
    274515, 200734, 182527, 181945,
    143015, 129184, 92224, 85965, 84893,
    82345, 77867, 73620, 69864, 63191
]

companies = [
    'Apple', 'Samsung', 'Alphabet', 'Foxconn',
    'Microsoft', 'Huawei', 'Dell Technologies',
    'Meta', 'Sony', 'Hitachi', 'Intel',
    'IBM', 'Tencent', 'Panasonic'
]

Create a series without assigned Index for revenue

0     274515
1     200734
2     182527
3     181945
4     143015
5     129184
6      92224
7      85965
8      84893
9      82345
10     77867
11     73620
12     69864
13     63191
dtype: int64

Create a series with an index and a title. Store it and print it

Apple                274515
Samsung              200734
Alphabet             182527
Foxconn              181945
Microsoft            143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                   73620
Tencent               69864
Panasonic             63191
Name: Top Technology Companies by Revenue, dtype: int64

Check the series elements datatype

pandas.core.series.Series

dtype('int64')

Get the data for Apple

Get the data for Apple and IBM

Apple    274515
IBM       73620
Name: Top Technology Companies by Revenue, dtype: int64

Get the data stored at position 3

np.int64(181945)

Get the Data for multiple positions >> 1 to 5

Samsung      200734
Alphabet     182527
Foxconn      181945
Microsoft    143015
Name: Top Technology Companies by Revenue, dtype: int64

Get the data for the positions 1, 4, -3

Samsung      200734
Microsoft    143015
IBM           73620
Name: Top Technology Companies by Revenue, dtype: int64

Get the last element in the Series

np.int64(63191)

Is Snapchat in the list of companies?

False

Get the name of the series

'Top Technology Companies by Revenue'

Get the index of the seres

Index(['Apple', 'Samsung', 'Alphabet', 'Foxconn', 'Microsoft', 'Huawei',
       'Dell Technologies', 'Meta', 'Sony', 'Hitachi', 'Intel', 'IBM',
       'Tencent', 'Panasonic'],
      dtype='object')

Get the values in the series

array([274515, 200734, 182527, 181945, 143015, 129184,  92224,  85965,
        84893,  82345,  77867,  73620,  69864,  63191])

Get all the basic quantitative information for the series

count        14.000000
mean     124420.642857
std       63686.481231
min       63191.000000
25%       78986.500000
50%       89094.500000
75%      172212.500000
max      274515.000000
Name: Top Technology Companies by Revenue, dtype: float64

Get the maximum, minimum, and mean for the data

274515
63191
124420.64285714286

What is the 95% percentile for revenue of these companies

np.float64(226557.34999999998)

What is the lowest ten percent for revenue of these companies

np.float64(70990.8)

How many companies are recorded in the series?

14

Create sub-series:

In [57]:
international_companies= [
    "Sony", "Tencent", "Panasonic",
    "Samsung", "Hitachi", "Foxconn", "Huawei"
]

domestic_companies= ['Meta', 'IBM', 'Microsoft',
    'Dell Technologies', 'Apple', 'Intel', 'Alphabet'
]

Meta                  85965
IBM                   73620
Microsoft            143015
Dell Technologies     92224
Apple                274515
Intel                 77867
Alphabet             182527
Name: Top Technology Companies by Revenue, dtype: int64

Is Samsung an american company?

False

Sort the american companies by reverse alphabetically

Microsoft            143015
Meta                  85965
Intel                 77867
IBM                   73620
Dell Technologies     92224
Apple                274515
Alphabet             182527
Name: Top Technology Companies by Revenue, dtype: int64

Sort the american companies by highest revenue

IBM                   73620
Intel                 77867
Meta                  85965
Dell Technologies     92224
Microsoft            143015
Alphabet             182527
Apple                274515
Name: Top Technology Companies by Revenue, dtype: int64

NOTE THAT SERIES ARE IMMUTABLE

This is why the sort functions don't affect the original series

Add Tesla to the series and check it

In [ ]:
Tesla = 21450

np.int64(21450)

Set Tesla Revenue to zero

Remove Tesla from the series and check that it was removed

Create a new series with Tesla and Snapchat

In [ ]:
ts_revenue=[21450, 4120]
ts_names=['Tesla', 'Snapchat']

Tesla       21450
Snapchat     4120
Name: Another Series, dtype: int64

Add the TS series to the original series

Apple                274515
Samsung              200734
Alphabet             182527
Foxconn              181945
Microsoft            143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                   73620
Tencent               69864
Panasonic             63191
Tesla                 21450
Snapchat               4120
dtype: int64

Create a rev and com series using the revenue and company data

In [ ]:
rev=pd.Series(data=revenue)
com=pd.Series(data=companies)

Order the company series based on the order generated from the revenue series. This is based on the revenue in ascending order

13            Panasonic
12              Tencent
11                  IBM
10                Intel
9               Hitachi
8                  Sony
7                  Meta
6     Dell Technologies
5                Huawei
4             Microsoft
3               Foxconn
2              Alphabet
1               Samsung
0                 Apple
dtype: object