# Pandas Practice with Fast Food Data
Author: JAAR

Date: 07/22/2025

In [1]:
# imports
import pandas as pd

In [2]:
# Load the fast food data
df=pd.read_csv('../data/US_top_50_fast_foods.csv')

Get the shape and basic information for the dataset

In [3]:
df.shape

(50, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Fast-Food Chains                                  50 non-null     object
 1   U.S. Systemwide Sales (Millions - U.S Dollars)    50 non-null     int64
 2   Average Sales per Unit (Thousands - U.S Dollars)  50 non-null     int64
 3   Franchised Stores                                 50 non-null     int64
 4   Company Stores                                    50 non-null     int64
 5   2021 Total Units                                  50 non-null     int64
 6   Total Change in Units from 2020                   50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

What are the data types?

In [5]:
df.dtypes

Fast-Food Chains                                    object
U.S. Systemwide Sales (Millions - U.S Dollars)       int64
Average Sales per Unit (Thousands - U.S Dollars)     int64
Franchised Stores                                    int64
Company Stores                                       int64
2021 Total Units                                     int64
Total Change in Units from 2020                      int64
dtype: object

Are there any null values?

In [6]:
df.isnull().sum()

Fast-Food Chains                                    0
U.S. Systemwide Sales (Millions - U.S Dollars)      0
Average Sales per Unit (Thousands - U.S Dollars)    0
Franchised Stores                                   0
Company Stores                                      0
2021 Total Units                                    0
Total Change in Units from 2020                     0
dtype: int64

Replace all of the columns spaces with underscores

In [7]:
df.columns=df.columns.str.replace(' ', '_')

For the series containing the fast food chains, change it to just chain

In [8]:
df.columns

Index(['Fast-Food_Chains', 'U.S._Systemwide_Sales_(Millions_-_U.S_Dollars)',
       'Average_Sales_per_Unit_(Thousands_-_U.S_Dollars)', 'Franchised_Stores',
       'Company_Stores', '2021_Total_Units',
       'Total_Change_in_Units_from_2020'],
      dtype='object')

In [9]:
df=df.rename(columns={'Fast-Food_Chains':'chains'})

Get a sample of five entries

In [10]:
df.sample(5)

,chains,U.S._Systemwide_Sales_(Millions_-_U.S_Dollars),Average_Sales_per_Unit_(Thousands_-_U.S_Dollars),Franchised_Stores,Company_Stores,2021_Total_Units,Total_Change_in_Units_from_2020
1,Baskin-Robbins,686,296,2317,0,2317,102
37,Raising Cane’s,2377,4893,23,544,567,58
43,Tim Hortons,687,1200,637,0,637,4
33,Papa Murphy’s,809,643,1213,27,1240,-53
13,Dunkin',10416,1127,9244,0,9244,161

Rename 'Franchised Stores' as'stores_franchised' and 'Company Stores' as 'company_stores'

In [11]:
df=df.rename(columns={
    'Franchised_Stores': 'stores_franchised',
    'Company_Stores': 'company_stores'
})

Order the companies by number of franchises descending and ascending by names

In [12]:
df.columns

Index(['chains', 'U.S._Systemwide_Sales_(Millions_-_U.S_Dollars)',
       'Average_Sales_per_Unit_(Thousands_-_U.S_Dollars)', 'stores_franchised',
       'company_stores', '2021_Total_Units',
       'Total_Change_in_Units_from_2020'],
      dtype='object')

In [13]:
df.sort_values(by=['stores_franchised', 'chains'], ascending=[False, True]).head()

,chains,U.S._Systemwide_Sales_(Millions_-_U.S_Dollars),Average_Sales_per_Unit_(Thousands_-_U.S_Dollars),stores_franchised,company_stores,2021_Total_Units,Total_Change_in_Units_from_2020
41,Subway,9350,438,21147,0,21147,-1043
28,McDonald’s,45960,3420,12775,663,13438,244
13,Dunkin',10416,1127,9244,0,9244,161
3,Burger King,10033,1470,7054,51,7105,24
42,Taco Bell,12600,1823,6540,462,7002,203

Retrieve the first three columns

In [14]:
df.iloc[:, 0:3].head()

,chains,U.S._Systemwide_Sales_(Millions_-_U.S_Dollars),Average_Sales_per_Unit_(Thousands_-_U.S_Dollars)
0,Arby’s,4462,1309
1,Baskin-Robbins,686,296
2,Bojangles,1485,1924
3,Burger King,10033,1470
4,Carl’s Jr.,1560,1400

Get every other row

In [15]:
df.iloc[::2].head()

,chains,U.S._Systemwide_Sales_(Millions_-_U.S_Dollars),Average_Sales_per_Unit_(Thousands_-_U.S_Dollars),stores_franchised,company_stores,2021_Total_Units,Total_Change_in_Units_from_2020
0,Arby’s,4462,1309,2293,1116,3409,40
2,Bojangles,1485,1924,496,277,773,15
4,Carl’s Jr.,1560,1400,1011,47,1058,-21
6,Chick-fil-A,16700,6100,2650,82,2732,155
8,Church’s Chicken,776,870,731,161,892,-13

What companies have 2616, 831, and 2293 stores franchised?

In [16]:
franchised_store=[2616, 831, 2293]

In [17]:
df.loc[df.stores_franchised.isin(franchised_store)]

,chains,U.S._Systemwide_Sales_(Millions_-_U.S_Dollars),Average_Sales_per_Unit_(Thousands_-_U.S_Dollars),stores_franchised,company_stores,2021_Total_Units,Total_Change_in_Units_from_2020
0,Arby’s,4462,1309,2293,1116,3409,40
9,Culver’s,2489,3099,831,6,837,55
22,Jimmy John’s,2301,866,2616,41,2657,48

Assign the chain column as the index column

In [18]:
df=df.set_index('chains')

Which company has the most franchised stores?

In [19]:
df.stores_franchised.idxmax()

'Subway'

Which company has the highest percentage of franchised stores?

In [20]:
df['percent_franchised']=df.stores_franchised / (df.stores_franchised + df.company_stores)

In [21]:
df.percent_franchised.sort_values(ascending=False).head()

chains
Baskin-Robbins    1.000000
Dunkin'           1.000000
Subway            1.000000
Tim Hortons       1.000000
Dairy Queen       0.999539
Name: percent_franchised, dtype: float64

Of the companies with 100% franchising, which has the most stores?

In [22]:
df[df.percent_franchised==1].stores_franchised.sort_values(ascending=False)

chains
Subway            21147
Dunkin'            9244
Baskin-Robbins     2317
Tim Hortons         637
Name: stores_franchised, dtype: int64

Rename the 2021 units column to store_count, 2020 unit change column to store_count_change, us sustemwide sales to sales_in_millions and average sales per unit to store_sales_thousands

In [23]:
df.columns

Index(['U.S._Systemwide_Sales_(Millions_-_U.S_Dollars)',
       'Average_Sales_per_Unit_(Thousands_-_U.S_Dollars)', 'stores_franchised',
       'company_stores', '2021_Total_Units', 'Total_Change_in_Units_from_2020',
       'percent_franchised'],
      dtype='object')

In [25]:
df=df.rename(columns={
    '2021_Total_Units': 'store_count',
    'Total_Change_in_Units_from_2020': 'store_count_change',
    'U.S._Systemwide_Sales_(Millions_-_U.S_Dollars)': 'sales_in_millions',
    'Average_Sales_per_Unit_(Thousands_-_U.S_Dollars)': 'store_sales_thousands'
})

Create a column that has bool that reflects positive changes in store counts as True and negative as False

In [26]:
df['positive_store_count']=df.store_count_change > 0

Get both the first and last chains?

In [27]:
df.iloc[[0,-1]]

,sales_in_millions,store_sales_thousands,stores_franchised,company_stores,store_count,store_count_change,percent_franchised,positive_store_count
chains,,,,,,,,
Arby’s,4462,1309,2293,1116,3409,40,0.672631,True
Zaxby’s,2233,2484,761,147,908,3,0.838106,True

Drop the Total Changes column and store this as a new df

In [28]:
temp_df=df.drop('store_count_change', axis=1)

Create a new column called positive growth where chains that opened stores have a 1 and chains that don't have a 0

In [29]:
df['positive_growth']=df.positive_store_count.astype(int)

In [30]:
df.positive_growth.head()

chains
Arby’s            1
Baskin-Robbins    1
Bojangles         1
Burger King       1
Carl’s Jr.        0
Name: positive_growth, dtype: int64

Convert systemwide sales to thousands and store the value as a new column then drop the old column

In [31]:
df.columns

Index(['sales_in_millions', 'store_sales_thousands', 'stores_franchised',
       'company_stores', 'store_count', 'store_count_change',
       'percent_franchised', 'positive_store_count', 'positive_growth'],
      dtype='object')

In [33]:
df['sales_in_thousands']=df['sales_in_millions']*1000

In [ ]:
df=df.drop('sales_in_millions', axis=1)

Sort chains by sales per store descending and name ascending

In [37]:
df.columns

Index(['store_sales_thousands', 'stores_franchised', 'company_stores',
       'store_count', 'store_count_change', 'percent_franchised',
       'positive_store_count', 'positive_growth', 'sales_in_thousands'],
      dtype='object')

In [ ]:
# can't figure this one out
# figured it out after a bit of time
df.sort_values(by='store_sales_thousands', ascending=False).sort_index().head()

,store_sales_thousands,stores_franchised,company_stores,store_count,store_count_change,percent_franchised,positive_store_count,positive_growth,sales_in_thousands
chains,,,,,,,,,
Arby’s,1309,2293,1116,3409,40,0.672631,True,1,4462000
Baskin-Robbins,296,2317,0,2317,102,1.000000,True,1,686000
Bojangles,1924,496,277,773,15,0.641656,True,1,1485000
Burger King,1470,7054,51,7105,24,0.992822,True,1,10033000
Carl’s Jr.,1400,1011,47,1058,-21,0.955577,False,0,1560000

Create a series that truncates the store count. Round store count to 5000 and 500 respectively for companies with more and less than those values

In [58]:
# Got this one wrong
df.store_count.clip(lower=500, upper=5000).head(10)

chains
Arby’s              3409
Baskin-Robbins      2317
Bojangles            773
Burger King         5000
Carl’s Jr.          1058
Checkers/Rally’s     834
Chick-fil-A         2732
Chipotle            2966
Church’s Chicken     892
Culver’s             837
Name: store_count, dtype: int64

Get all the companies with sales above the mean sales

,store_sales_thousands,franchised,company_stores,store_count,store_count_change,positive_store_count,positive_growth,sales_in_thousands
chain,,,,,,,,
Arby’s,1309,2293,1116,3409,40,True,1,4462000
Baskin-Robbins,296,2317,0,2317,102,True,1,686000
Bojangles,1924,496,277,773,15,True,1,1485000
Carl’s Jr.,1400,1011,47,1058,-21,True,1,1560000
Checkers/Rally’s,1145,568,266,834,-13,True,1,931000

Create a list of chains that have over 80% franchised and over 80% company owned then sort by Revenue

,store_sales_thousands,franchised,company_stores,store_count,store_count_change,positive_store_count,positive_growth,sales_in_thousands
chain,,,,,,,,
Starbucks,1200,6497,8953,15450,113,True,1,24300000
Panera Bread,2700,1130,950,2080,-25,True,1,5650000
Arby’s,1309,2293,1116,3409,40,True,1,4462000
Five Guys,3172,911,479,1390,8,True,1,2093000
Bojangles,1924,496,277,773,15,True,1,1485000
El Pollo Loco,2000,292,189,481,1,True,1,973000
Checkers/Rally’s,1145,568,266,834,-13,True,1,931000
Del Taco,1551,306,294,600,4,True,1,931000
QDOBA,1006,406,333,739,2,True,1,835000

Display the chains with more than 3000 (thousands) in sales and a store count of at least 500

In [43]:
df[
    (df.store_sales_thousands > 3000) &
    (df.store_count > 500)
]

,store_sales_thousands,stores_franchised,company_stores,store_count,store_count_change,percent_franchised,positive_store_count,positive_growth,sales_in_thousands
chains,,,,,,,,,
Chick-fil-A,6100,2650,82,2732,155,0.969985,True,1,16700000
Culver’s,3099,831,6,837,55,0.992832,True,1,2489000
Five Guys,3172,911,479,1390,8,0.655396,True,1,2093000
McDonald’s,3420,12775,663,13438,244,0.950662,True,1,45960000
Raising Cane’s,4893,23,544,567,58,0.040564,True,1,2377000
Whataburger,3640,131,742,873,29,0.150057,True,1,3089000

Find the companies that are in the 80% for sales and 80% for store counts

,store_sales_thousands,franchised,company_stores,store_count,store_count_change,positive_store_count,positive_growth,sales_in_thousands
chain,,,,,,,,
Burger King,1470,7054,51,7105,24,True,1,10033000
Domino's,1317,6185,375,6560,205,True,1,8641000
Dunkin',1127,9244,0,9244,161,True,1,10416000
McDonald’s,3420,12775,663,13438,244,True,1,45960000
Starbucks,1200,6497,8953,15450,113,True,1,24300000
Subway,438,21147,0,21147,-1043,True,1,9350000
Taco Bell,1823,6540,462,7002,203,True,1,12600000
Wendy's,1895,5535,403,5938,57,True,1,11111000

## Questions created by ChatGPT from easy to difficult
Following is a list of 30 questions produced by ChatGPT to practice my understanding of Pandas

1.	Get the Series of fast-food chain names.

2.	Count the number of null values in each column.

3.	Get the Series of total U.S. sales.

4.	Find the maximum sales value.

5.	Find the chain with the minimum number of store counts.

6.	Get a Series showing whether each chain is American.

7.	Get a boolean Series with sales greater than five billion?

8.	Count how many companies sell over 5 billion.

9.	Drop the five franchises with the lowest overall sales

10.	Find the average number of stores.

11.	Get all chain names with sales over $5B (as Series).

12.	Sort the Series of total stores and franchises in descending and ascending orders respectively.

13.	Create a Series of lowercase chain names.

14.	Get chains that are not American.

15.	Create a Series showing sales per unit.

16.	Check which chains have "Pizza" in their name.

17.	Get the 5 smallest chains by number of stores.

18.	Rename the column "U.S. Systemwide Sales (Millions)" to lowercase using .rename().

19.	Find the chain with the second highest sales.

20.	Create a Series: is chain name longer than 10 characters?

21.	Create a Series showing sales rank (1 = highest) and convert the result to integers.

22.	Get the average sales for chains with between 1000 and 3000 stores

23.	Create a Series of chain names sorted by store sales.

24.	Count how many chains contain "Burger" or "Chicken" in the name.

25.	Normalize the sales column (0–1 range).

26.	Create a Series flagging "giants" (sales > 5000 & total units > 10000).

27.	Create a Series of first letters of chain names.

28.	Replace all spaces in chain names with underscores.

29.	Bucket sales into categories: Low (<1000), Medium (1000–5000), High (>5000)

30.	Get a Series of boolean values: does chain name start with "M"?